.form-container{
  margin:4rem 6rem;
  color:#2a2a2a;
}
.form-container form {
  padding-top:1rem;
  display:flex;
  flex-direction:column;
  width:50%;
  margin:auto;
}
.form-container form input{
  height:3rem;
  padding:0 1rem;
  margin-bottom:2rem;
  border-radius:2rem;
  border:1px solid #2a2a2a;
}

.form-container form textarea{
  padding:0 1rem;
  margin-bottom:2rem;
  border-radius:0.7rem;
  border:1px solid #2a2a2a;
}

.form-container form button{
  padding:1rem;
  font-size:1.2rem;
  font-weight:600;
  background:#01959a;
  color:#fff;
  border:none;
  border-radius:1rem;
}
